/BakedQuad.class
/BlockFaceUV$Deserializer.class
/BlockFaceUV.class
/BlockPart$Deserializer.class
/BlockPart.class
/BlockPartFace$Deserializer.class
/BlockPartFace.class
/BlockPartRotation.class
/BreakingFour.class
/FaceBakery.class
/ItemCameraTransforms$Deserializer.class
/ItemCameraTransforms$TransformType.class
/ItemCameraTransforms.class
/ItemModelGenerator$Span.class
/ItemModelGenerator$SpanFacing.class
/ItemModelGenerator.class
/ItemTransformVec3f$Deserializer.class
/ItemTransformVec3f.class
/ModelBlock$Bookkeep.class
/ModelBlock$Deserializer.class
/ModelBlock$LoopException.class
/ModelBlock.class
/ModelBlockDefinition$Deserializer.class
/ModelBlockDefinition$MissingVariantException.class
/ModelBlockDefinition$Variant$Deserializer.class
/ModelBlockDefinition$Variant.class
/ModelBlockDefinition$Variants.class
/ModelBlockDefinition.class
