/CraftingManager.class
/FurnaceRecipes.class
/IRecipe.class
/RecipeBookCloning.class
/RecipeFireworks.class
/RecipeRepairItem.class
/RecipesArmor.class
/RecipesArmorDyes.class
/RecipesBanners$RecipeAddPattern.class
/RecipesBanners$RecipeDuplicatePattern.class
/RecipesBanners.class
/RecipesCrafting.class
/RecipesDyes.class
/RecipesFood.class
/RecipesIngots.class
/RecipesMapCloning.class
/RecipesMapExtending.class
/RecipesTools.class
/RecipesWeapons.class
/ShapedRecipes.class
/ShapelessRecipes.class
