/EntityArrow.class
/EntityEgg.class
/EntityFireball.class
/EntityFishHook.class
/EntityLargeFireball.class
/EntityPotion.class
/EntitySmallFireball.class
/EntitySnowball.class
/EntityThrowable.class
/EntityWitherSkull.class
