/EntityAmbientCreature.class
/EntityAnimal.class
/EntityBat.class
/EntityChicken.class
/EntityCow.class
/EntityHorse$GroupData.class
/EntityHorse.class
/EntityMooshroom.class
/EntityOcelot.class
/EntityPig.class
/EntityRabbit$AIAvoidEntity.class
/EntityRabbit$AIEvilAttack.class
/EntityRabbit$AIPanic.class
/EntityRabbit$AIRaidFarm.class
/EntityRabbit$EnumMoveType.class
/EntityRabbit$RabbitJumpHelper.class
/EntityRabbit$RabbitMoveHelper.class
/EntityRabbit$RabbitTypeData.class
/EntityRabbit.class
/EntitySheep.class
/EntitySquid$AIMoveRandom.class
/EntitySquid.class
/EntityTameable.class
/EntityVillager$EmeraldForItems.class
/EntityVillager$ITradeList.class
/EntityVillager$ItemAndEmeraldToItem.class
/EntityVillager$ListEnchantedBookForEmeralds.class
/EntityVillager$ListEnchantedItemForEmeralds.class
/EntityVillager$ListItemForEmeralds.class
/EntityVillager$PriceInfo.class
/EntityVillager.class
/EntityWaterMob.class
/EntityWolf.class
/IAnimals.class
