/EntityPlayer$EnumChatVisibility.class
/EntityPlayer$EnumStatus.class
/EntityPlayer.class
/EntityPlayerMP.class
/EnumPlayerModelParts.class
/InventoryPlayer$1.class
/InventoryPlayer.class
/PlayerCapabilities.class
