/GuiAnimationSettingsOF.class
/GuiButtonOF.class
/GuiChatOF.class
/GuiDetailSettingsOF.class
/GuiMessage.class
/GuiOptionButtonOF.class
/GuiOptionSliderOF.class
/GuiOtherSettingsOF.class
/GuiPerformanceSettingsOF.class
/GuiQualitySettingsOF.class
/GuiScreenCapeOF.class
/GuiScreenOF.class
/IOptionControl.class
/TooltipManager.class
/TooltipProvider.class
/TooltipProviderEnumShaderOptions.class
/TooltipProviderOptions.class
/TooltipProviderShaderOptions.class
