/AxisAlignedBB.class
/BlockPos$1.class
/BlockPos$2.class
/BlockPos$MutableBlockPos.class
/BlockPos.class
/Cartesian$GetList.class
/Cartesian$Product$ProductIterator.class
/Cartesian$Product.class
/Cartesian.class
/ChatAllowedCharacters.class
/ChatComponentProcessor.class
/ChatComponentScore.class
/ChatComponentSelector.class
/ChatComponentStyle.class
/ChatComponentText.class
/ChatComponentTranslation.class
/ChatComponentTranslationFormatException.class
/ChatStyle$1.class
/ChatStyle$Serializer.class
/ChatStyle.class
/ClassInheritanceMultiMap.class
/CombatEntry.class
/CombatTracker.class
/CryptManager.class
/DamageSource.class
/EnchantmentNameParts.class
/EntityDamageSource.class
/EntityDamageSourceIndirect.class
/EntitySelectors$ArmoredMob.class
/EntitySelectors.class
/EnumChatFormatting.class
/EnumFacing$Axis.class
/EnumFacing$AxisDirection.class
/EnumFacing$Plane.class
/EnumFacing.class
/EnumParticleTypes.class
/EnumTypeAdapterFactory.class
/EnumWorldBlockLayer.class
/FoodStats.class
/FrameTimer.class
/HttpUtil.class
/IChatComponent$Serializer.class
/IChatComponent.class
/IJsonSerializable.class
/IObjectIntIterable.class
/IProgressUpdate.class
/IRegistry.class
/IStringSerializable.class
/IThreadListener.class
/ITickable.class
/IntHashMap$Entry.class
/IntHashMap.class
/IntegerCache.class
/JsonSerializableSet.class
/JsonUtils.class
/LazyLoadBase.class
/LoggingPrintStream.class
/LongHashMap$Entry.class
/LongHashMap.class
/MapPopulator.class
/MathHelper.class
/Matrix4f.class
/MessageDeserializer.class
/MessageDeserializer2.class
/MessageSerializer.class
/MessageSerializer2.class
/MinecraftError.class
/MouseFilter.class
/MouseHelper.class
/MovementInput.class
/MovementInputFromOptions.class
/MovingObjectPosition$MovingObjectType.class
/MovingObjectPosition.class
/ObjectIntIdentityMap.class
/RegistryDefaulted.class
/RegistryNamespaced.class
/RegistryNamespacedDefaultedByKey.class
/RegistrySimple.class
/ReportedException.class
/ResourceLocation.class
/Rotations.class
/ScreenShotHelper.class
/Session$Type.class
/Session.class
/StatCollector.class
/StringTranslate.class
/StringUtils.class
/ThreadSafeBoundList.class
/Timer.class
/Tuple.class
/TupleIntJsonSerializable.class
/Util$EnumOS.class
/Util.class
/Vec3.class
/Vec3i.class
/Vec4b.class
/Vector3d.class
/WeightedRandom$Item.class
/WeightedRandom.class
/WeightedRandomChestContent.class
/WeightedRandomFishable.class
