/C00PacketKeepAlive.class
/C01PacketChatMessage.class
/C02PacketUseEntity$Action.class
/C02PacketUseEntity.class
/C03PacketPlayer$C04PacketPlayerPosition.class
/C03PacketPlayer$C05PacketPlayerLook.class
/C03PacketPlayer$C06PacketPlayerPosLook.class
/C03PacketPlayer.class
/C07PacketPlayerDigging$Action.class
/C07PacketPlayerDigging.class
/C08PacketPlayerBlockPlacement.class
/C09PacketHeldItemChange.class
/C0APacketAnimation.class
/C0BPacketEntityAction$Action.class
/C0BPacketEntityAction.class
/C0CPacketInput.class
/C0DPacketCloseWindow.class
/C0EPacketClickWindow.class
/C0FPacketConfirmTransaction.class
/C10PacketCreativeInventoryAction.class
/C11PacketEnchantItem.class
/C12PacketUpdateSign.class
/C13PacketPlayerAbilities.class
/C14PacketTabComplete.class
/C15PacketClientSettings.class
/C16PacketClientStatus$EnumState.class
/C16PacketClientStatus.class
/C17PacketCustomPayload.class
/C18PacketSpectate.class
/C19PacketResourcePackStatus$Action.class
/C19PacketResourcePackStatus.class
