/GoalColor.class
/IScoreObjectiveCriteria$EnumRenderType.class
/IScoreObjectiveCriteria.class
/Score$1.class
/Score.class
/ScoreDummyCriteria.class
/ScoreHealthCriteria.class
/ScoreObjective.class
/ScorePlayerTeam.class
/Scoreboard.class
/ScoreboardSaveData.class
/ServerScoreboard.class
/Team$EnumVisible.class
/Team.class
