/Achievement.class
/AchievementList.class
/IStatStringFormat.class
/IStatType.class
/ObjectiveStat.class
/StatBase$1.class
/StatBase$2.class
/StatBase$3.class
/StatBase$4.class
/StatBase.class
/StatBasic.class
/StatCrafting.class
/StatFileWriter.class
/StatList.class
/StatisticsFile.class
