/Barrier$Factory.class
/Barrier.class
/EffectRenderer.class
/EntityAuraFX$Factory.class
/EntityAuraFX$HappyVillagerFactory.class
/EntityAuraFX.class
/EntityBlockDustFX$Factory.class
/EntityBlockDustFX.class
/EntityBreakingFX$Factory.class
/EntityBreakingFX$SlimeFactory.class
/EntityBreakingFX$SnowballFactory.class
/EntityBreakingFX.class
/EntityBubbleFX$Factory.class
/EntityBubbleFX.class
/EntityCloudFX$Factory.class
/EntityCloudFX.class
/EntityCrit2FX$Factory.class
/EntityCrit2FX$MagicFactory.class
/EntityCrit2FX.class
/EntityCritFX$Factory.class
/EntityCritFX.class
/EntityDiggingFX$Factory.class
/EntityDiggingFX.class
/EntityDropParticleFX$LavaFactory.class
/EntityDropParticleFX$WaterFactory.class
/EntityDropParticleFX.class
/EntityEnchantmentTableParticleFX$EnchantmentTable.class
/EntityEnchantmentTableParticleFX.class
/EntityExplodeFX$Factory.class
/EntityExplodeFX.class
/EntityFX.class
/EntityFirework$Factory.class
/EntityFirework$OverlayFX.class
/EntityFirework$SparkFX.class
/EntityFirework$StarterFX.class
/EntityFirework.class
/EntityFishWakeFX$Factory.class
/EntityFishWakeFX.class
/EntityFlameFX$Factory.class
/EntityFlameFX.class
/EntityFootStepFX$Factory.class
/EntityFootStepFX.class
/EntityHeartFX$AngryVillagerFactory.class
/EntityHeartFX$Factory.class
/EntityHeartFX.class
/EntityHugeExplodeFX$Factory.class
/EntityHugeExplodeFX.class
/EntityLargeExplodeFX$Factory.class
/EntityLargeExplodeFX.class
/EntityLavaFX$Factory.class
/EntityLavaFX.class
/EntityNoteFX$Factory.class
/EntityNoteFX.class
/EntityParticleEmitter.class
/EntityPickupFX.class
/EntityPortalFX$Factory.class
/EntityPortalFX.class
/EntityRainFX$Factory.class
/EntityRainFX.class
/EntityReddustFX$Factory.class
/EntityReddustFX.class
/EntitySmokeFX$Factory.class
/EntitySmokeFX.class
/EntitySnowShovelFX$Factory.class
/EntitySnowShovelFX.class
/EntitySpellParticleFX$AmbientMobFactory.class
/EntitySpellParticleFX$Factory.class
/EntitySpellParticleFX$InstantFactory.class
/EntitySpellParticleFX$MobFactory.class
/EntitySpellParticleFX$WitchFactory.class
/EntitySpellParticleFX.class
/EntitySplashFX$Factory.class
/EntitySplashFX.class
/EntitySuspendFX$Factory.class
/EntitySuspendFX.class
/IParticleFactory.class
/MobAppearance$Factory.class
/MobAppearance.class
