/AnimalChest.class
/Container.class
/ContainerBeacon$BeaconSlot.class
/ContainerBeacon.class
/ContainerBrewingStand$Ingredient.class
/ContainerBrewingStand$Potion.class
/ContainerBrewingStand.class
/ContainerChest.class
/ContainerDispenser.class
/ContainerEnchantment$1.class
/ContainerEnchantment$2.class
/ContainerEnchantment$3.class
/ContainerEnchantment.class
/ContainerFurnace.class
/ContainerHopper.class
/ContainerHorseInventory$1.class
/ContainerHorseInventory$2.class
/ContainerHorseInventory.class
/ContainerMerchant.class
/ContainerPlayer$1.class
/ContainerPlayer.class
/ContainerRepair.class
/ContainerWorkbench.class
/ICrafting.class
/IInvBasic.class
/IInventory.class
/ISidedInventory.class
/InventoryBasic.class
/InventoryCraftResult.class
/InventoryCrafting.class
/InventoryEnderChest.class
/InventoryHelper.class
/InventoryLargeChest.class
/InventoryMerchant.class
/Slot.class
/SlotCrafting.class
/SlotFurnaceFuel.class
/SlotFurnaceOutput.class
/SlotMerchantResult.class
