/OSDetector.class
/PowerShell.class
/PowerShellCodepage.class
/PowerShellCommandProcessor.class
/PowerShellConfig.class
/PowerShellNotAvailableException.class
/PowerShellResponse.class
/PowerShellResponseHandler.class
