/EntityArmorStand.class
/EntityBoat.class
/EntityEnderCrystal.class
/EntityEnderEye.class
/EntityEnderPearl.class
/EntityExpBottle.class
/EntityFallingBlock.class
/EntityFireworkRocket.class
/EntityItem.class
/EntityItemFrame.class
/EntityMinecart$EnumMinecartType.class
/EntityMinecart.class
/EntityMinecartChest.class
/EntityMinecartContainer.class
/EntityMinecartEmpty.class
/EntityMinecartFurnace.class
/EntityMinecartHopper.class
/EntityMinecartTNT.class
/EntityPainting$EnumArt.class
/EntityPainting.class
/EntityTNTPrimed.class
/EntityXPOrb.class
