/DataWatcher$WatchableObject.class
/DataWatcher.class
/Entity$1.class
/Entity$2.class
/Entity$3.class
/Entity$4.class
/Entity.class
/EntityAgeable.class
/EntityBodyHelper.class
/EntityCreature.class
/EntityFlying.class
/EntityHanging.class
/EntityLeashKnot.class
/EntityList$EntityEggInfo.class
/EntityList.class
/EntityLiving$SpawnPlacementType.class
/EntityLiving.class
/EntityLivingBase.class
/EntityMinecartCommandBlock$1.class
/EntityMinecartCommandBlock.class
/EntitySpawnPlacementRegistry.class
/EntityTracker.class
/EntityTrackerEntry.class
/EnumCreatureAttribute.class
/EnumCreatureType.class
/IEntityLivingData.class
/IEntityMultiPart.class
/IEntityOwnable.class
/IMerchant.class
/INpc.class
/IProjectile.class
/IRangedAttackMob.class
/NpcMerchant.class
/SharedMonsterAttributes.class
