/EnumAction.class
/EnumDyeColor.class
/EnumRarity.class
/Item$ToolMaterial.class
/Item.class
/ItemAnvilBlock.class
/ItemAppleGold.class
/ItemArmor$1.class
/ItemArmor$ArmorMaterial.class
/ItemArmor.class
/ItemArmorStand.class
/ItemAxe.class
/ItemBanner.class
/ItemBed.class
/ItemBlock.class
/ItemBoat.class
/ItemBook.class
/ItemBow.class
/ItemBucket.class
/ItemBucketMilk.class
/ItemCarrotOnAStick.class
/ItemCloth.class
/ItemCoal.class
/ItemColored.class
/ItemDoor.class
/ItemDoublePlant.class
/ItemDye.class
/ItemEditableBook.class
/ItemEgg.class
/ItemEmptyMap.class
/ItemEnchantedBook.class
/ItemEnderEye.class
/ItemEnderPearl.class
/ItemExpBottle.class
/ItemFireball.class
/ItemFirework.class
/ItemFireworkCharge.class
/ItemFishFood$FishType.class
/ItemFishFood.class
/ItemFishingRod.class
/ItemFlintAndSteel.class
/ItemFood.class
/ItemGlassBottle.class
/ItemHangingEntity.class
/ItemHoe.class
/ItemLead.class
/ItemLeaves.class
/ItemLilyPad.class
/ItemMap.class
/ItemMapBase.class
/ItemMinecart$1.class
/ItemMinecart.class
/ItemMonsterPlacer.class
/ItemMultiTexture.class
/ItemNameTag.class
/ItemPickaxe.class
/ItemPiston.class
/ItemPotion.class
/ItemRecord.class
/ItemRedstone.class
/ItemReed.class
/ItemSaddle.class
/ItemSeedFood.class
/ItemSeeds.class
/ItemShears.class
/ItemSign.class
/ItemSimpleFoiled.class
/ItemSkull.class
/ItemSlab.class
/ItemSnow.class
/ItemSnowball.class
/ItemSoup.class
/ItemSpade.class
/ItemStack.class
/ItemSword.class
/ItemTool.class
/ItemWritableBook.class
