/BuiltInModel.class
/IBakedModel.class
/ModelBakery.class
/ModelManager.class
/ModelResourceLocation.class
/ModelRotation.class
/SimpleBakedModel$Builder.class
/SimpleBakedModel.class
/WeightedBakedModel$Builder.class
/WeightedBakedModel$MyWeighedRandomItem.class
/WeightedBakedModel.class
