/BaseSpectatorGroup.class
/ISpectatorMenuObject.class
/ISpectatorMenuRecipient.class
/ISpectatorMenuView.class
/PlayerMenuObject.class
/SpectatorMenu$EndSpectatorObject.class
/SpectatorMenu$MoveMenuObject.class
/SpectatorMenu.class
