/ChunkCache.class
/ChunkCoordIntPair.class
/ColorizerFoliage.class
/ColorizerGrass.class
/DifficultyInstance.class
/EnumDifficulty.class
/EnumSkyBlock.class
/Explosion.class
/GameRules$Value.class
/GameRules$ValueType.class
/GameRules.class
/IBlockAccess.class
/IInteractionObject.class
/ILockableContainer.class
/IWorldAccess.class
/IWorldNameable.class
/LockCode.class
/MinecraftException.class
/NextTickListEntry.class
/SpawnerAnimals.class
/Teleporter$PortalPosition.class
/Teleporter.class
/World.class
/WorldManager.class
/WorldProvider.class
/WorldProviderEnd.class
/WorldProviderHell$1.class
/WorldProviderHell.class
/WorldProviderSurface.class
/WorldSavedData.class
/WorldServer$ServerBlockEventList.class
/WorldServer.class
/WorldServerMulti$1.class
/WorldServerMulti.class
/WorldSettings$GameType.class
/WorldSettings.class
/WorldType.class
