/CreativeCrafting.class
/GuiBeacon$Button.class
/GuiBeacon$CancelButton.class
/GuiBeacon$ConfirmButton.class
/GuiBeacon$PowerButton.class
/GuiBeacon.class
/GuiBrewingStand.class
/GuiChest.class
/GuiContainer.class
/GuiContainerCreative$ContainerCreative.class
/GuiContainerCreative$CreativeSlot.class
/GuiContainerCreative.class
/GuiCrafting.class
/GuiDispenser.class
/GuiEditSign.class
/GuiFurnace.class
/GuiInventory.class
/GuiScreenHorseInventory.class
